body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  padding-block: 25px;
  background-color: var(--backgroundColor);
  color: var(--textColor);

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Flatpickr reset */

.flatpickr-day.selected {
  border-color: var(--accentColor) !important;
  background-color: var(--accentColor) !important;
}

.flatpickr-input {
  background-color: var(--backgroundColorAccent);
  color: var(--textColor);
}

/* Picnic reset */

input[type=text] {
  background-color: var(--backgroundColorAccent);
  color: var(--textColor);

  &:active, &:focus {
    outline: 2px solid var(--accentColor);
  }

  transition: none;
}

button[type=submit] {
  background-color: var(--accentColor);

  &:active, &:focus {
    transition: none;
  }
}

.just-validate-error-label {
  color: var(--errorColor) !important;
}
