.container-main {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @media screen and (min-width: $breakpoint-mobile-width) {
    width: $breakpoint-mobile-width;
    padding: 0 $breakpoint-mobile-container-padding-inline;
  }

  @media screen and (min-width: $breakpoint-tablet-width) {
    width: 640px;
    padding: 0 $breakpoint-tablet-container-padding-inline;
  }
}
