.result-input {
  font-family: "Courier New", monospace;
  font-weight: 700;

  cursor: pointer;

  &:enabled {
    &:active {
      border: 1px solid green;
    }
  }

  &:disabled {
    background-color: #dddddd;
  }
}
