.result-input {
  font-family: "Courier New", monospace;
  font-weight: 700;

  cursor: pointer;

  &:enabled {
    color: green;

    &:active {
      outline: 2px solid green;
    }
  }

  &:disabled {
    background-color: #dddddd;
  }
}
