.result-input {
  font-family: "Courier New", monospace;
  font-weight: 700;

  cursor: pointer;

  &:enabled {
    color: var(--successColor);

    &:active {
      outline: 2px solid var(--successColor);
    }
  }

  &:disabled {
    background-color: var(--backgroundColorDisabled);
  }
}
